:root{
    --while-color: #fff;
    --black-color: #000; 
    --text-color: #333; 
    --primary-color:#ee4d2d;
    --primary-color:rgb(238, 77, 45);
    --navbar-height: 34px;
    --header-height:120px;
    --header-with-search:calc(var(--header-height)-var(--navbar-height));
}
*{ 
    box-sizing: inherit;
    padding: 0;
}
html{
    font-size: 62.5%;
    /* Độ cao của chữ */
    line-height: 16px;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    margin: 0;
}
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width{
    width:100%;
}
.grid__row{
    display: flex;
    flex-wrap: wrap;
}
.app{
    margin: 0 0;
}
/* animatiobn */
@keyframes fadein{
     from {
    opacity: 0;
    }
    to{
    opacity: 1;
    }
}
@keyframes growth{
    from{
        transform: scale(var(--growth-from));
    }
    to{
        transform: scale(var(--growth-to));
    }
}
.modal{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    animation: fadein linear 0.1s;
}
.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}
.modal__body{
    --growth-from: 0.7;
    --growth-to: 1;
    width: 300px;
    height: 235.9px;
    background-color: var(--while-color);
    margin: auto;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2px !important;
    padding: 0;
    justify-content: space-between;
    animation: growth linear 0.1s;
}
.modal__inner{
    display: flex;
    flex-direction: column;
}
.fa-facebook-square{
    margin-right: 3px;
}
.fa-google-plus-g{
    margin-right: 3px;
}
