.header{
height: 120px;
background-image: linear-gradient(0, #fe6433, #f53e2d);
margin: 0;
display: flex;
}
.header__nav{
    display: flex;
    justify-content: space-between;
    height: 20px;
}
.header__navbar-item{
list-style-type: none;
display: inline-block;
}
.header__navbar-list{
    padding-left: 0;
    margin: 4px 0 0 0 ;

}
.header__navbar-item{
    margin: 0 8px;
    position: relative;
}
.header__navbar-item, 
.header__navbar-item-link{
    display: inline-block;
    font-size: 15px;
    color: var(--while-color);
    text-decoration: none;
    font-weight: 300;
}
.header__navbar-item--strong{
    font-weight: 900;
}
.header__navbar-item--phancach::after{
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 12px;
    color: white;
    right: -9px;
    top:50%;
    transform: translateY(-50%);
}
.header__navbar-item:hover,
.header__navbar-item-link:hover{
    color:rgba(255,255,225,0.7);
    cursor: pointer;
}
.header__navbar-icon-link{
    color: var(--while-color);
    text-decoration: none;
}
.header__navbar-icon{
    font-size: 18px;
}
.header__navbar-item,
.header__navbar-item-link, 
.header__navbar-icon-link{
    display: inline-flex;
    align-items: center;
    margin: 0 6px;
}
.header__navbar-itembell {
    margin: 0 5px;
}
.header__navbar__title-no-pointer{
    cursor: text;
    color:var(--while-color);
}
/* header qr code */
.header__qr{
width:186px;
position: absolute;
left: 0;
top: 140%;
background-color: var(--while-color);
display: none;
animation: fadein ease-in 0.5s;
will-change: opacity transform;
z-index: 1;
}
.header__qr::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 30px;
    display: block;
    left: 0;
    top: -10px;
} 
.header__navbar-item--hqr:hover .header__qr{
display: block;
}
.header__qr-img{
width: 100%;
}
.header__qr-apps{
display: flex;
justify-content:space-around;

}
.header__qr-downloadapp{
    height: 16px;
}
.header__qr-link:nth-child(1){
margin-right: 11px;
}
/* header__notification */
.header__noti{
    position: absolute;
    top:118%;
    width: 404px;
    background-color: var(--while-color);
    right: 0;
    border: 1px solid #d3d3d3;
    cursor: default;
    transform-origin: calc(100% - 20px) top ;
    animation: header__noti-grow ease-in 0.2s;
    margin-top: 10px;
    display: none;
    z-index: 1;
}
.header__noti-arow::before{
content: "";
border-style: solid;
border-color: transparent transparent  var(--while-color) transparent;
position: absolute;
top: -30px;
right: 12px;
border-width: 20px 27px;
}
.header__noti-arow::after{
    content: "";
    display: block;
    position: absolute;
    width: 90px;
    right: 0;
    top: -20px;
    height: 10px;
}
@keyframes header__noti-grow{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}
.header__navbar-item-hnoti:hover .header__noti{
    display: block; 
}
.header__noti-header{
    height: 40px;
    background-color: var(--while-color);
}
.header__noti-header h3{
    color: #666;
    margin: 0;
    font-weight: 400px;
    font-size: 1.4rem;
    line-height: 40px;
    margin-left: 12px;
    cursor: text;
}
.header__noti-list{
    padding-left: 0;
}
.header__noti-list-item{
    display: flex;
}
.header__noti-list-item--view{
    background-color: rgba(238, 77, 45,0.1);
}
.header__noti-list-item:hover{
    background-color:#f7f7f7; 
}
.header__noti-list-item-link{
    display: flex; 
    text-decoration: none;
    padding: 12px;
}
.header__noti-img{  
    width: 48px;
    object-fit: contain;
    margin-right: 10px;
}
.header__noti-name{
    display: block;
    color: black;
    font-size: 1.4rem;
    font-weight: 400;
}
.header__noti-descriotion{
    display: block;
    font-size: 1.2rem;
    color:#756f6e;
}
.header__noti-footer{
    margin: 0;
    margin-left: 12px;
    text-align: center;
    display: block;
}
.header__noti-footer-btn{
text-decoration: none;
color: #666;
padding: 16px 16px;
}
.auth-form{
    display: flex;
    flex-direction: column;
    margin: 16px ;
    margin-top: 30px;
}
.auth-form__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
}
.auth-form__heading{
    font-size: 13px;
    margin: 0;
    cursor: pointer;
}
.auth-form__switch-btn{
    font-size: 13px;
    color: coral;
    font-weight: 600;
    cursor: pointer;
}
.auth-form__input{
    margin-top: 10px;
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    font-size: 7px;
    border: none;
    background-color: #f2f2f2;
    padding: 5px;
}
.auth-form__input:focus{
outline: none;
}

.auth-form__aside{
    margin: 0 10px;
    font-size: 8px;
}
.auth-form__policy-text{
    font-size: 0.73rem;
    line-height: 1.1rem;
    text-align: center;
}
.auth-form__policy-link{
    color: coral;
    line-height: 3px;
}
.auth-form__controls{
    display: flex;
    justify-content: flex-end;
}
.btn-back{
margin: 0 5px;
font-size: 8px;
border: none;
background-color: transparent;
padding: 5px 10px;
border-radius: 1px;
}
.btn-back:hover{
background-color: rgba(102, 102, 102, 0.3);
}
.btn__primary{
background-color: coral;
font-weight: 400;
font-size: 8px;
border: none;
padding: 5px 10px;
border-radius: 1px;
}
.btn__primary:hover{
    background-color: #ff6600;
    color: var(--while-color);
}
.social{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
.auth-form__socials{
    display: flex;
    justify-content: space-around;
    padding: 6px;
    border-radius: px;
}
.btn--width-icon{
    margin: 6px;
}
.btn--width-icon-fb{
    font-size: 8px;
    color: var(--while-color);
    background-color: #385898;
    padding: 3px 10px;
    border-radius: 2px;
    text-decoration: none;
}
.btn--width-icon-fb:hover{
background-color: #0073e6;
}
.btn--width-icon-gg{
    font-size: 8px;
    color: var(--black-color);
    padding: 3px 10px;
    background-color: var(--while-color);
    border-radius: 2px;
    text-decoration: none;
}
.btn--width-icon-gg:hover{
    background-color: #f2f2f2;
}

.grid{
    display: flex;
    flex-direction: column;
}
.search{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
}
.search__logo{
    width: 162px;
    height: 50px;
    margin: auto 0;
    padding-right: 40px;

}
.search__logo-link{
    fill: var(--while-color);
}
.search__frame{
    width: 685px;
    height: 59px;
    margin: auto 0;
    display: flex;
    flex-direction: column;
    flex: 4;
}
.search__frame-text{
    padding: 0;
    margin: 0;
    display: flex;
    background-color: var(--while-color);
    border-radius: 2px;
    flex-direction: column;
    position: relative;
}
.search__frame-border{
    display: flex;
    flex-direction: row;
}
.search__history{
position:absolute;
width: 700px;
height: 150px;
background-color:var(--while-color);
top:110%;
border-radius: 2px;
display: none;
box-shadow: 0 1px 5px #999;
}
.search__frame-text-hidden:focus ~ .search__history{
    display: block;
}
.history-text{
    margin: 0;
    padding: 10px;
}
.search--frame-icon{
    width: 60px;
    height: 33px;
    margin: auto 0;
    margin-right: 4px;
    border-radius: 2px;
    display: flex;
    background-color:#f53e2d;
}
.search-icon-link{
    margin: auto;
}
.search-icon{
    color: var(--while-color);
    font-size: 15px;
}
.search__cart{
    flex: 1;
}
.search__frame-text-hidden{
    margin: auto 0;
    border-radius: 2px;
    width: 100%;
    height: 40px;
    border: none;
    padding: 10px;
}
.search__frame-text-hidden:focus{
    outline: none;
}
.search__frame--list{
    width: 100%;
    height: 19px;
    display: flex;
    margin-top: 8px;
}
.list-frame{
    display: flex;
    flex-direction: row;
    margin: auto 0;
}
.list-frame-item{
    display: block;
    text-decoration: none;
    margin-right: 13px;
}
.list-frame-item-link{
    text-decoration: none;
    color: var(--while-color);
}
.search__cart{
    display: flex;
    flex-direction: column;
    position: relative;
}
.search-cart-icon{
    font-size: 30px;
    color: var(--while-color);
    margin: auto;
}
.search-cart-icon-link{
    margin: auto;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}
.chuacosanpham{
    width: 370px;
    height: 200px;
    top:70%;
    left: -110%;
    position: absolute;
    display: none; 
    z-index: 1;

}
.search-cart-icon-link:hover .chuacosanpham{
    display: block;
    border: 1px solid black;
    background-color: var(--while-color);
    animation: header__noti-grow ease-in 0.2s;
}
.chuacosanpham::before{
    content: "";
    border-style: solid;
    border-color: transparent transparent  var(--while-color) transparent;
    position: absolute;
    top: -30px;
    right: 5px;
    border-width: 20px 27px;
    }
.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}
.container__list{
    width: 16.3%;
    background-color: #f2f2f2;
    height: 1000px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.container__danhmuc{
font-size: 1.4rem;
padding: 7px 0;
margin: 0 12px;
}
.container__danhmuc-icon{
    margin-right: 5px;
}
.sanpham__list-name-sanpham{
    margin: 10px 12px;
    list-style-type: none;
    border-bottom:1px solid #d3d3d3;
    padding-bottom: 10px;
}
.sanpham__list{
    margin: 0;
}
.sanpham__list-name-link-sp{
    color: #f53e2d;
    text-decoration:none;
    list-style-type: none;
    font-size: 1.6rem;
    font-weight: 400;
}
.sanpham__list-name{
    margin: 17px 12px;   
    list-style-type: none;
    border-bottom:1px solid #d3d3d3;
    padding-bottom: 10px;
}
.sanpham__list-name-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--black-color);
   
}
.container__content{
    flex: 1;
    margin-left: 10px;
}
.content__sapxep{
    width: 100%;
    height: 60px;
    background-color: #f5f5f0;
    display: flex;
    flex-direction: row;
}
.content__sapxep-frame{
    margin: auto 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.content__sapxep-block1{
    width: 80%;
    display: flex;
}
.sapxeptheo{
    font-size: 1.4rem;
    padding: 10px 26px;
}
.sapxep__phobien{
font-size: 1.6rem;
background-color: #ee4d2d;
border-radius: 2px;
padding: 10px 36px;
margin: 0 10px;
box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.sapxep__phobien-link{
    color: var(--while-color);
    text-decoration: none;
}
.sapxep__moinhat{
font-size: 1.6rem;
padding: 10px 36px;
margin: 0 10px;
background-color: var(--while-color);
border-radius: 2px;
box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.sapxep__moinhat-link{
    text-decoration: none;
    color: var(--black-color);
    font-weight: 400;
}
.sapxep__banchay{
font-size: 1.6rem;
padding: 10px 36px;
margin: 0 10px;
background-color: var(--while-color);
border-radius: 2px;
box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.sapxep__gia{
font-size: 1.6rem;
margin:0 10px;
width: 150px;
padding: auto 0;
background-color: var(--while-color);
cursor: pointer;
display: flex;
flex-direction: column;
position:relative;
border-radius: 2px;
}
.sapxep__gia-block1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto 0;
    padding: 10px;
}
.gia__icon-arrowdown{
    width: 15px;

}
.sapxep__gia-link{
    text-decoration: none;
    color: var(--black-color);
}
.luachon__gia{
    position:absolute;
    width: 100%;
    top:100%;
    left: 0;
    margin-top: 5px;
    display: flex;
   display: none;
    flex-direction: column;
    background-color: var(--while-color);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    animation: hidden ease-out 0.7s;
    border-radius: 2px;
}
.thap__cao{
    text-align: center;
    padding: 15px 0;
    margin: 0;
}
.thap__cao:hover{
    background-color:#f2f2f2;
}
.sapxep__gia-block1:hover .luachon__gia{
display: block;
}
.luachon__gia-before::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 30px;
    display: block;
    left: 0;
    top: -10px;
}
.sapxep__changepage{
display: flex;
margin: 0;
margin-right: 40px;
padding: 0;
font-size: 1.6rem;
}
.danhsachtrang{
    margin: auto 20px;
    padding: 6px 12px;
}
.chuyentrang{
    display: flex;
    margin: auto;
}
.nextpage{
padding: 8px 14px;
background-color:#d3d3d3;
}
.backpage{
padding: 8px 14px;
}
.icon__changepage-link{
color: var(--black-color);
}
.content__sanpham{
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
    background-color: #f2f2f5;
    margin-top: 10px;
}
.content__sanpham-sp1{
    width: var(--product-width);
    height: var(--product-height);
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    padding: 0;
    background-color: var(--while-color);
    border: 1px solid black;
}
.content-sp1-img{
    height: var(--product-img-height);
    width: var(--product-width-mg);
    background-position: center;
    background-size: contain;
}
.content-sp1-info{
    line-height: 1.6rem;
    height: 30px;
    overflow: hidden;
    font-size: 1.4rem;
    margin: 4px;
}
.content-price{
    display: flex; 
    flex-direction: row;
    justify-content:flex-start;
    padding: 0 10px;
}
.content__price-from{
font-size: 1.3rem;
margin-right: 14px;
}
.content__price-to{
font-size: 1.3rem;
color: #ff6600;
font-weight: 450;
}
.content__character{
    display: flex;
    justify-content: space-between;
}
.content__heart{
    display: flex;
    position: relative;
}
.content__heart-active{
    color: red;
    position:absolute;
    left: 20px;
    display: none;
}